<form action="/logout" method="post">
    <button type="submit">Đăng xuất</button>
</form>
<section class="AboutUs"> 
    <div class="AboutUs__container">
        <div class="AboutUsSlide2__container">
            <div class="TopAboutUs__container">
                <h3>Trang chủ -> Về chúng tôi</h3>
            </div>
            <div class="BottomAboutUs__container">
                <div class="TopAboutUs__Item">
                    <div class="AboutUs__Item_img">
                        <img src="/images/aboutus.jpg" alt="về chúng tôi">
                    </div>
                    <div class="AboutUs__Item_decripsion">
                        <div class="TopAboutUs__Item_decripsion_first">
                            <h3>Chúng tôi là ai?</h3>
                        </div>
                        <div class="TopAboutUs__Item_decripsion_second">
                            <span>
                                Chúng tôi là nhóm 2 môn Thiết kế giao diện phần mềm cùng với giao diện Website Review Phim, được thiết kế dành riêng cho những tín đồ mê phim
                            </span>
                        </div>
                    </div>
                </div>
                <div class="BottomAboutUs__Item">
                    <div class="AboutUs__Item_decripsion__2">
                        <div class="TopAboutUs__Item_decripsion_first">
                            <h3>Mục tiêu</h3>
                        </div>
                        <div class="TopAboutUs__Item_decripsion_second">
                            <span>
                                Mục tiêu của chúng tôi là tạo ra một Website Review phim có thể giúp những người đang rảnh rỗi trong mùa dịch này có thể xem ý kiến từ Reviewer để có quyết định xem phim hay không
                            </span>
                        </div>
                    </div>
                    <div class="AboutUs__Item_img__2">
                        <img src="/images/purpose.jpg" alt="về chúng tôi">
                    </div>
                </div>
            </div>
        </div>
        <div class="AboutUsSlide3__container">
            <div class="AboutusSlide3__topcontent">
                <h2>Đội ngũ thực hiện</h2>
            </div>
            <div class="AboutusSlide3__centercontent">
                <div class="centercontent__container">
                    <div class="centercontent__listitem1__container">
                        <div class="centercontent__listitem">
                            <div class="centerItem__img">
                                <img src="/images/giao.jpg" alt="Ngọc Giao">
                            </div>
                            <div class="centerItem__name">
                                <div class="CenterItem_topdecription">
                                    <p>Trần Ngọc Giao</p>
                                </div>
                                <div class="CenterItem_bottomdecription">
                                    <div class="team-decription">
                                        <p>Thành viên của Team</p>
                                    </div>
                                    <div class="school-decription">
                                        <p>Trường Đại học Công nghệ thông tin - ĐHQG-HCM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="centercontent__listitem">
                            <div class="centerItem__img">
                                <img src="/images/hai.jpg" alt="Hồng Hải">
                            </div>
                            <div class="centerItem__name">
                                <div class="CenterItem_topdecription">
                                    <p>Đặng Ngô Hồng Hải</p>
                                </div>
                                <div class="CenterItem_bottomdecription">
                                    <div class="team-decription">
                                        <p>Thành viên của Team</p>
                                    </div>
                                    <div class="school-decription">
                                        <p>Trường Đại học Công nghệ thông tin - ĐHQG-HCM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="centercontent__listitem">
                            <div class="centerItem__img">
                                <img src="/images/khuongduy.jpg" alt="Khương Duy">
                            </div>
                            <div class="centerItem__name">
                                <div class="CenterItem_topdecription">
                                    <p>Nguyễn Ngọc Khương Duy</p>
                                </div>
                                <div class="CenterItem_bottomdecription">
                                    <div class="team-decription">
                                        <p>Leader của Team</p>
                                    </div>
                                    <div class="school-decription">
                                        <p>Trường Đại học Công nghệ thông tin - ĐHQG-HCM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="centercontent__listitem2__container">
                        <div class="centercontent__listitem">
                        <div class="centerItem__img">
                            <img src="/images/khanhduy.jpg" alt="Khánh Duy">
                        </div>
                        <div class="centerItem__name">
                            <div class="CenterItem_topdecription">
                                <p>Đào Khánh Duy</p>
                            </div>
                            <div class="CenterItem_bottomdecription">
                                <div class="team-decription">
                                    <p>Thành viên của Team</p>
                                </div>
                                <div class="school-decription">
                                    <p>Trường Đại học Công nghệ thông tin - ĐHQG-HCM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="centercontent__listitem">
                        <div class="centerItem__img">
                            <img src="/images/chuong.jpg" alt="Bình Chương">
                        </div>
                        <div class="centerItem__name">
                            <div class="CenterItem_topdecription">
                                <p>Trần Bình Chương</p>
                            </div>
                            <div class="CenterItem_bottomdecription">
                                <div class="team-decription">
                                    <p>Thành viên của Team</p>
                                </div>
                                <div class="school-decription">
                                    <p>Trường Đại học Công nghệ thông tin - ĐHQG-HCM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                </div>    
            </div>
        </div>
    </div>
</section>