<section class="Anotherfilmwapper">
        <div class="another-flim-container">
            <div class="container-item">
                <div class="top-content">
                    <div class="text-container-top">
                        <h1>XEM THÊM</h1>
                        <h1>REVIEW PHIM KHÁC</h1>
                    </div>
                    <div class="icon-top">
                        <i class="fas fa-film board"></i>
                    </div>
                </div>
                <div class="middle-container">
                    <div class="middle-content">
                        <div class="content-item">
                            <img src="/images/Kate-2021.jpg" alt="Kate(2021)" class="item-img">
                            <div class="text-content">
                                <p>Kate (2021)</p>
                            </div>
                        </div>
                        <div class="content-item">
                            <img src="/images/Avengers_Endgame_bia_teaser.jpg" alt="Avengers: End Game (2018)" class="item-img">
                            <div class="text-content">
                                <p>Avengers:End Game</p>
                                <p>(2018)</p>
                            </div>
                        </div>
                        <div class="content-item">
                            <img src="/images/Poster_Gambit_Hậu.jpeg" alt="Gambit Hậu (2020)" class="item-img">
                            <div class="text-content">
                                <p>Gambit Hậu </p>
                                <p>(2020)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-content">
                        <i class="fas fa-video flim"></i>
                </div>
            </div>
        </div>
</section>
