<section class="change-password">
    <div class="content-left">
        <img src="images/fastfurious.jpg" alt="" />
    </div>
    <div class="content-right">
        <div class="form-change-password">
            <div class="change-password-title row">
                <img src="images/login_icon.png" />
                <div class="change-password-title-text">Đổi mật khẩu</div>
            </div>
            <form
                id="change-password"
                class="input-group row"
                method="post"
                action="change-password"
            >
                <div class="change-password-input-form">
                    <input
                        type="password"
                        class="input-field"
                        id="myInput"
                        placeholder="Mật khẩu cũ"
                        name="password"
                        required
                    />
                </div>
                <div class="change-password-input-form">
                    <input
                        type="password"
                        class="input-field"
                        id="myInput"
                        placeholder="Mật khẩu mới"
                        name="password"
                        required
                    />
                </div>
                <div class="change-password-input-form">
                    <input
                        type="password"
                        class="input-field"
                        id="myInput"
                        placeholder="Nhập lại mật khẩu"
                        name="password"
                        required
                    />
                </div>
                <div class="change-password-input-form">
                    <button
                        type="submit"
                        class="toggle-btn"
                        onclick="change-password()"
                    >
                        Đổi mật khẩu
                    </button>
                </div>

            </form>

            <div class="copyright">
                Bản quyền trực thuộc HongHai Entertainment
            </div>
        </div>
    </div>
</section>