<section class="famous_actor_list_admin">
  <div class="famous_actor_list_admin_container">
    <div class="famous_actor_list_container">
      <div class="famous_actor_list_admin_top">
        <div class="user_management_admin_top_decription">
          <span>Danh sách các diễn viên</span>
        </div>
        <div class="famous_actor_list_admin_top_btn">
          <a
            href="/admin/famous-actor"
            class="btn btn-primary"
            role="button"
            aria-pressed="true"
          >Thêm diễn viên</a>
        </div>
      </div>
      <form class="famous_actor_list_admin_center" method="post">
        <table>
          <tr>
            <th>ID</th>
            <th>Tên diễn viên</th>
            <th>Hình ảnh</th>
            <th>Mô tả</th>
            <th>Thao tác</th>
          </tr>
          {{#each actorList}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.name}}</td>
              <td>{{this.img}}</td>
              <td>
                {{this.description}}
              </td>
              <td>
                <button name="action" type="submit" class="Delete">Xóa</button>
              </td>
            </tr>
          {{/each}}
        </table>
      </form>
    </div>

  </div>
</section>