<div class="separator">
  <div class="admin-title text-center">
    TẠO THÔNG TIN CHO REVIEW DIỄN VIÊN
  </div>
  <div class="container">
    <div class="row">
      <form method="post">
        <div class="content-up-admin-film-review row">
          <div class="col-6 text-justify">
            <label for="">Tên diễn viên</label>
            <input
              type="text"
              placeholder="Nhập tên diễn viên"
              class="form-control"
              name="name"
            />
          </div>
          <div class="col-6 text-justify">
            <label for="">Mô tả</label>
            <input
              type="text"
              placeholder="Nhập mô tả"
              class="form-control"
              name="description"
            />
          </div>
        </div>
        <div class="content-middle-admin-film-review row">
          <div class="col-md-4 text-justify">
            <label for="">Tiêu đề</label>
            <input
              type="text"
              placeholder="Nhập tiêu đề"
              class="form-control"
              name="title"
            />
          </div>
          <div class="col-md-4 text-justify">
            <label for="">Đánh giá</label>
            <input
              type="text"
              placeholder="Nhập số điểm đánh giá"
              class="form-control"
              name="rate"
            />
          </div>
          <div class="col-md-4 text-justify">
            <label for="">Hình ảnh</label>
            <input
              type="text"
              placeholder="Nhập liên kết hình ảnh"
              class="form-control"
              name="img"
            />
          </div>
        </div>
        <div class="content-up-admin-film-review">

          <div>
            <textarea
              name="context"
              id="context"
              rows="10"
              cols="80"
              {{! name="content" }}
            >
              Nhập mô tả diễn viên
            </textarea>
            <script>
              CKEDITOR.replace("context");
            </script>
          </div>

        </div>
        <button type="submit" class="btn-admin-film-content">
          Đăng bài
        </button>
      </form>
    </div>
  </div>

</div>