 <section class="containner">
        <div class="left">
            <div class="logo">
                <img src="./netflix.png" alt="logo">
            </div>
            <div class="title">FILM</div>
            <div class="info_film">
                <p class="info-film-title">SQUID GAME - TRÒ CHƠI CON MỰC</p>
                <pre class="info-film-information">IMDb Rating     2021     Thể loại: Hành động - Giật gân</pre>
                <img class="rate-icon" src="./—Pngtree—beautiful yellow stars_71724.png" alt="star">    
                <div class="rate-info">
                    <p>8.3/10</p>
                    <p>9.2K</p>
                </div>
            </div>
            <div class="review-content">
                <p>Một câu chuyện về những người thất bại trong cuộc sống vì nhiều lý do khác nhau, nhưng đột nhiên nhận được một lời mời bí ẩn tham gia vào một trò chơi sinh tồn 
                    để giành được mười triệu đô la Mỹ. Trò chơi diễn ra tại một địa điểm không xác định, và những người tham gia bị nhốt cho đến khi có người chiến thắng cuối cùng.
                    <br> 
                    Câu chuyện sẽ kết hợp các trò chơi trẻ em phổ biến từ những năm 1970 và 1980 của Hàn Quốc, chẳng hạn như trò chơi câu mực, dịch theo nghĩa đen của tên tiếng Hàn 
                    của nó, là một loại thẻ mà hành vi phạm tội và phòng thủ sử dụng một bảng hình con mực được vẽ trên đất...
                </p>
            </div>
            <div class="button-watch">
                <button class="button-watch-trailer">Xem Trailer</button>
                <button class="button-watch-review">Xem Review</button>
            </div>
            <div class="others-film">
                <ul>
                    <li><img src="./firm_spiderman.jpg" alt=""></li>
                    <li><img src="./firm_like_a_boss.jpg" alt=""></li>
                    <li><img src="./firm_inside_out.jpg" alt=""></li>
                </ul>
            </div>
            
        </div>
        <div class="right">
            <div class="poster">
                <img src="./squid_game-1000.png" alt="poster">
            </div>
        </div>
                
    </section>