<section class="forgot">
    <div class="content-left">
        <img src="images/fastfurious.jpg" alt="" />
    </div>
    <div class="content-right">
        <div class="form-forgot">
            <div class="forgot-title row">
                <img src="images/login_icon.png" />
                <div class="forgot-title-text">Lấy lại mật khẩu</div>
            </div>
            <form
                id="forgot"
                class="input-group row"
                method="post"
                action="/forgot-password"
            >
                <div class="forgot-input-form">
                    <input
                        type="email"
                        class="input-field"
                        id="myInput"
                        placeholder="Nhập Email khôi phục"
                        name="email"
                        required
                    />
                </div>
                <div class="forgot-input-form">
                    <button type="submit" class="toggle-btn" onclick="forgot()">
                        Gửi Email xác nhận
                    </button>
                </div>
            </form>

            <div class="copyright">
                Bản quyền trực thuộc HongHai Entertainment
            </div>
        </div>
    </div>
</section>