<h1>Đăng nhập</h1>
<form action="">
    <div>
        <label for="username">Tên người dùng: </label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="pasword">Mật khẩu: </label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Đăng ký</a>