{{! <section class="login">
            <div class="container">
                <div class="login-content-left"></div>
                <div class="login-content-right">
                    <div class="login-text">Đăng nhập</div>
                    <div class="login-form-input">
                        <form id="loginField" class="login-input-group">
                            <input
                                type="text"
                                class="login-input-field"
                                placeholder="Tên tài khoản"
                                required
                            />
                            <input
                                type="password"
                                class="login-input-field"
                                id="myInput"
                                placeholder="Mật khẩu" required
                            />
                        </form>
                    </div>
                    <div class="login-save-password">
                        <input type="checkbox" class="check-box" />
                        <label>Lưu mật khẩu</label>
                    </div>
                        <button
                            type="submit"
                            class="login-toggle-btn"
                            onclick="Login()"
                        >
                            Đăng nhập
                        </button>

                        <div class="login-others">
                            <a href="#">Không có tài khoản? Đăng ký</a>
                            <a href="#" class="login-forgot-password">Quên mật khẩu?</a>
                        </div>

                        <div class="login-copyright">
                            Bản quyền trực thuộc HongHai Entertainment
                        </div>
                    </div>
                </div>
            </div>
</section> }}
Đây là trang login
{{#if messages.error}}
    <p>{{messages.error}}</p>
{{/if}}
<form action="/login" method="post">
    <input type="text" name="username"/>
    <input type="password" name="password"?/>
    <button type="submit">Đăng nhập</button>
</form>