<section class="personal-page">
     <div class="personal-page-header">
        <div class="cover-image">
            <!--<div class="cover-img-personal">
                <img src="/images/cover-img-personal-page.png" alt="" width="200%">
            </div>-->
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" />
                </a>    
            </div>
            <div class="personal-avt-small">
                
                <img src="/images/ava.png" alt="avt">
                <div class="personal-menu tools-show">
                    <div class="user-post">
                        <div class="personal-avt-small">
                            <img src="/images/ava.png" alt="avt">
                            <div class="name">
                                <p class="full-name">{{{user.username}}}</p> 
                            </div>  
                        </div>
                         <p class="username">{{{user.email}}}</p>   
                     </div>
                     <ul>
                         <li><i class="fas fa-pencil-alt"></i><a type="button" href="/login">Đăng bài viết</a></li>
                         <li><i class="fas fa-id-card"></i><a type="button" href="/personal-page">Trang cá nhân</a></li>
                         <li><i class="fas fa-lock"></i><a type="button" href="/change-password">Đổi mật khẩu</a></li>
                         <li><i class="fas fa-sign-out-alt"></i><a type="button" href="/">Đăng xuất</a></li>
                     </ul>
                </div>  
            </div>
        </div>
        <div class="personal-infor">
            <div class="personal-avt-info">
                <div class="personal-avt-big">
                    <img src="..//images/hai.jpg" alt="avt">
                 </div>
                <div class="infor-inweb">
                    <p class="name-in-page">Đặng Ngô Hồng Hải</p>
                    <a href="#">@anthony.HaiDang</a>
                    <p class="role-in-page">Quản trị viên - Reviewer</p>
                </div>
            </div>
            <div class="personal-tools">
                <div class="add-post"><i class="fas fa-pencil-alt"></i><a href="">Thêm bài viết</a> </div>
                <div class="recycle-bin"><i class="fas fa-trash-alt"></i><a href="">Thùng rác</a></div>
            </div>
        </div>
     </div>
     <div class="personal-page-body">
         <div class="personal-introduce">
             <p class="intro">GIỚI THIỆU</p>
             <a href="#"><i class="fas fa-envelope"></i> @anthony.HaiDang</a>
             <p class="interests"><i class="fab fa-gratipay"></i>Sở thích: Xem Review phim</p>
             <p><i class="fas fa-map-marker-alt"></i>Đến từ: Nha Trang,Khánh Hòa</p>
             <p><i class="far fa-clock"></i>Tham gia vào tháng 09/2021</p>
         </div> 
         <div class="personal-page-main">
                <p >Bài viết đã đăng</p>
            <div class="personal-post">
                 <div class="infor-post">
                    <div class="user-post">
                        <div class="personal-avt-small">
                            <img src="/images/ava.png" alt="avt">
                        </div>
                        <div class="name-and-time">
                            <p class="name">anthony.HaiDang</p>
                            <p class="time">Đã viết vào 05/10/2021</p>
                        </div>     
                     </div>
                    <div class="three-dots-btn">
                        <div class="icon-three-dots">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="three-dots-tools tools-show">
                            <ul>
                                <li ><a href="">Chỉnh sửa bài viết</a></li>
                                <li><a href="">Xóa bài viết</a></li>
                            </ul>
                        </div>
                    </div>
                 </div> 
                 <div class="post-content">
                     <div class="film-name">
                         <p>Review phim Squid Game - Trò chơi con mực: Không hay như mong đợi</p>
                     </div>
                     <div class="film-img">
                         <img src="/images/banner1.jpg" alt="">
                     </div>
                     <div class="film-content">Trò chơi con mực (Tựa tiếng Anh: Squid game) là bộ phim mà Ghiền review cực kỳ mong chờ lên sóng Netflix vì thể loại sinh tồn mà phim khai thác vốn là gu của mình bao lâu nay. Chắc hẳn ai là fan của dòng phim này đã từng xem rất nhiều phim tương tự của Mỹ, Nhật Bản và đều đặt một sự kỳ vọng rất lớn khi thưởng thức trailer của bộ phim 9 tập đến từ xứ sở Kim Chi này... Xem thêm</div>
                 </div> 
            </div>
         </div>

     </div>
</section>
<script>
        /*personal-page*/
            /* three dots*/
            var threeDots=document.querySelector(".icon-three-dots");
            threeDots.addEventListener("click",displaymenu2);
            function displaymenu2()
            {
                document.querySelector(".three-dots-tools").classList.toggle("tools-show")
            }
            /*avt*/
            var threeDots=document.querySelector(".personal-avt-small");
            threeDots.addEventListener("click",displaymenu1);
            function displaymenu1()
            {
                document.querySelector(".personal-menu").classList.toggle("tools-show")
            }
</script>