<h1>Đăng ký</h1>
<form action="/register" method="POST">
    <div>
        <label for="username">Tên người dùng: </label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Mật khẩu: </label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="name">Họ và Tên: </label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="phone">Số điện thoại: </label>
        <input type="tel" name="phone" id="phone">
    </div>
    <div>
        <label for="birth">Ngày sinh: </label>
        <input type="date" name="birth" id="birth">
    </div>
    <button type="submit">Đăng ký</button>
</form>
<a href="/login">Đăng nhập</a>