<section class="register">
    <div class="content-left">
        <img src="images/fastfurious.jpg" alt="" />
    </div>
    <div class="content-right">
        <div class="form-register">
            <div class="register-title row">
                <img src="images/login_icon.png" />
                <div class="register-title-text">Đăng ký</div>
            </div>
            <form id="register" class="input-group row">
                <div class="register-input-form">
                    <input
                        type="text"
                        class="input-field"
                        placeholder="Tên tài khoản"
                        required
                    />
                </div>
                <div class="register-input-form">
                    <input
                        type="password"
                        class="input-field"
                        id="myInput"
                        placeholder="Mật khẩu"
                        required
                    />
                </div>
                <div class="register-input-form">
                    <input
                        type="password"
                        class="input-field"
                        id="myInput"
                        placeholder="Nhập lại mật khẩu"
                        required
                    />
                </div>
                <div class="register-input-form">
                    <input
                        type="email"
                        class="input-field"
                        id="myInput"
                        placeholder="Email"
                        required
                    />
                </div>
            </form>

            <div class="register-input-form">
                <button type="submit" class="toggle-btn" onclick="register()">
                    Đăng ký
                </button>
            </div>

            <div class="copyright">
                Bản quyền trực thuộc HongHai Entertainment
            </div>
        </div>
    </div>
</section>