<div class="separator">
  <div class="admin-title text-center">
    TẠO THÔNG TIN CHO REVIEW PHIM
  </div>
  <div class="container">
    <div class="row">
      <form>
        <div class="content-up-admin-film-review row">
          <div class="col-6 text-justify">
            <label for="">Tên Phim</label>
            <input
              type="text"
              placeholder="Nhập tên phim"
              class="form-control"
            />
          </div>
          <div class="col-6 text-justify">
            <label for="">Hình ảnh</label>
            <input
              type="text"
              placeholder="Chọn hình ảnh"
              class="form-control"
            />
          </div>
        </div>
        <div class="content-up-admin-film-review row">
          <div class="col-6 text-justify">
            <label for="">IMDB Rating</label>
            <input
              type="text"
              placeholder="Nhập số điểm đánh giá"
              class="form-control"
            />
          </div>
          <div class="col-6 text-justify">
            <label for="">Thể loại</label>
            <input
              type="text"
              placeholder="Nhập thể loại"
              class="form-control"
            />
          </div>

        </div>
        <button type="submit" class="btn-admin-film-content">
          Đăng bài
        </button>
      </form>
    </div>
  </div>
  <div class="row text-white">
    <div class="col-lg-7"></div>
  </div>
</div>