   <div class="separator">
                <div class="admin-title text-center">
                    TẠO THÔNG TIN CHO REVIEW PHIM
                </div>
                <div class="container">
                    <div class="row">
                        <form method="post">
                            <div class="content-up-admin-film-review row">
                                <div class="col-6 text-justify">
                                    <label for="">Tên Phim</label>
                                    <input
                                        type="text"
                                        placeholder="Nhập tên phim"
                                        class="form-control"
                                        name="name"
                                    />
                                </div>
                                <div class="col-6 text-justify">
                                    <label for="">Hình ảnh</label>
                                    <input
                                        type="text"
                                        placeholder="Link hình ảnh"
                                        class="form-control"
                                        name="poster"
                                    />
                                </div>
                            </div>
                            <div class="content-middle-admin-film-review row">
                                <div class="col-md-4 text-justify">
                                    <label for="">IMDB Rating</label>
                                    <input
                                        type="text"
                                        placeholder="Nhập số điểm đánh giá"
                                        class="form-control"
                                        name="rating"
                                    />
                                </div>
                                <div class="col-md-4 text-justify">
                                    <label for="">Năm sản xuất</label>
                                    <input
                                        type="text"
                                        placeholder="Nhập năm sản xuất"
                                        class="form-control"
                                        name="releaseYear"
                                    />
                                </div>
                                <div class="col-md-4 text-justify">
                                    <label for="">Thể loại</label>
                                    <input
                                        type="text"
                                        placeholder="Nhập thể loại"
                                        class="form-control"
                                        name="type"
                                    />
                                </div>
                            </div>
                            <div class="content-up-admin-film-review row mt-4">
                                <div class="col-md-4 text-justify">
                                    <label for="">Trailer</label>
                                    <input type="text" placeholder="Nhập link trailer" class="form-control" name="trailer" />
                                </div>
                                <div class="col-md-4 text-justify">
                                    <label for="">Thời lượng</label>
                                    <input type="text" placeholder="Nhập thời lượng" class="form-control" name="time" />
                                </div>
                                <div class="col-md-4 text-justify">
                                    <label for="">Quốc gia</label>
                                    <input type="text" placeholder="Nhập quốc gia" class="form-control" name="nation" />
                                </div>
                            </div>
                            <div class="content-down-admin-film-review">
                                <div class="col-12 text-area">
                                    <label>Nhập mô tả cho phim</label>
                                    <textarea
                                        class="description"
                                        placeholder="Nhập mô tả cho phim"
                                        rows="15"
                                        name="description"
                                    ></textarea>
                                    <script>
                                        CKEDITOR.replace('description')
                                    </script>
                                </div>
                            </div>
                            <button
                                type="submit"
                                class="btn-admin-film-content"
                            >
                                Đăng bài
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row text-white">
                <div class="col-lg-7"></div>
            </div>
        </div>
     