<section class="review_movie_admin">
    <div class="review_movie_admin_container">
        <div class="review_movie_container">
            <div class="review_movie_admin_top">
                <div class="CTV_management_admin_top_decription">
                    <span>Danh sách các phim</span>
                </div>
            </div>
            <div class="review_movie_admin_center">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Tên phim</th>
                        <th>Mô tả</th>
                        <th>Đánh giá</th>
                        <th>Quốc gia</th>
                        <th>Năm sản xuất</th>
                        <th>Thể loại</th>
                        <th>Thao tác</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Squid Game</td>
                        <td>Một câu chuyện về những người thất bại trong cuộc
                            sống vì nhiều lý do khác nhau...</td>
                        <td>
                            8.3/10
                        </td>
                        <td>Hàn Quốc</td>
                        <td>2021</td>
                        <td>Viễn tưởng</td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Squid Game</td>
                        <td>Một câu chuyện về những người thất bại trong cuộc
                            sống vì nhiều lý do khác nhau...</td>
                        <td>
                            8.3/10
                        </td>
                        <td>Hàn Quốc</td>
                        <td>2021</td>
                        <td>Viễn tưởng</td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Squid Game</td>
                        <td>Một câu chuyện về những người thất bại trong cuộc
                            sống vì nhiều lý do khác nhau...</td>
                        <td>
                            8.3/10
                        </td>
                        <td>Hàn Quốc</td>
                        <td>2021</td>
                        <td>Viễn tưởng</td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Squid Game</td>
                        <td>Một câu chuyện về những người thất bại trong cuộc
                            sống vì nhiều lý do khác nhau...</td>
                        <td>
                            8.3/10
                        </td>
                        <td>Hàn Quốc</td>
                        <td>2021</td>
                        <td>Viễn tưởng</td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Squid Game</td>
                        <td>Một câu chuyện về những người thất bại trong cuộc
                            sống vì nhiều lý do khác nhau...</td>
                        <td>
                            8.3/10
                        </td>
                        <td>Hàn Quốc</td>
                        <td>2021</td>
                        <td>Viễn tưởng</td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</section>