<section class="user_mannagement_admin">
    <div class="user_mannagement_admin_container">
        <div class="user_mannagement_container">
            <div class="user_mannagement_admin_top">
                <div class="user_management_admin_top_decription">
                    <span>Danh sách các user</span>
                </div>
                <div class="user_management_admin_top_btn">
                    <button type="button">Thêm Người dùng</button>
                </div>
            </div>
            <div class="user_mannagement_admin_center">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>anothyhaidang</td>
                        <td>admin@admin.com</td>
                        <td>
                            <button type="button" class="Edit">Sửa</button>
                        </td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>anothyhaidang</td>
                        <td>admin@admin.com</td>
                        <td>
                            <button type="button" class="Edit">Sửa</button>
                        </td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>anothyhaidang</td>
                        <td>admin@admin.com</td>
                        <td>
                            <button type="button" class="Edit">Sửa</button>
                        </td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>anothyhaidang</td>
                        <td>admin@admin.com</td>
                        <td>
                            <button type="button" class="Edit">Sửa</button>
                        </td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>anothyhaidang</td>
                        <td>admin@admin.com</td>
                        <td>
                            <button type="button" class="Edit">Sửa</button>
                        </td>
                        <td>
                            <button type="button" class="Delete">Xóa</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</section>