* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.header {
  display: flex;
  padding: 20px 120px;
  height: 70px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }

.logo {
  margin-top: 20px; }

.logo img {
  padding-top: 15px;
  width: 180px; }

.search {
  display: flex;
  width: 620px;
  height: 50px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #fff; }

.search i {
  margin: 0 5px;
  padding-top: 5px; }

.search input {
  height: 30px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none; }

.nav-bar {
  margin-top: 20px;
  margin-left: 250px;
  float: right; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000; }

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  padding-right: 10px; }

.menu li {
  display: flex;
  justify-content: space-between; }

.menu > li {
  padding: 0 12px;
  position: relative; }

.menu > li a {
  font-family: Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  display: block;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center; }

.aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 56.25%;
  transition: 0.3s all ease-in-out; }

.aspect-ratio-169 img {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 91%;
  object-fit: cover; }

.slider {
  overflow: hidden; }

.dot-container {
  width: 100%;
  margin-top: -100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; }

.dot {
  height: 15px;
  margin-top: -120px;
  width: 15px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  margin-right: 15px; }

.dot.active {
  background-color: #c23535; }

.footer {
  width: 100%; }

.content-up {
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: #efefef; }

.footer-logo {
  margin-top: 95px;
  padding-left: 30px; }

.footer-logo img {
  width: 200px; }

.footer-link {
  padding: 30px 100px; }

.footer-link-title {
  width: 100%; }

.footer-link-title span {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.linking {
  padding: 0;
  padding-top: 10px; }

.linking li {
  padding-bottom: 20px;
  list-style-type: none; }

.linking li a {
  text-decoration: none;
  color: #000; }

.animate-border {
  position: relative;
  display: block;
  width: 130px;
  height: 3px;
  background: #e6673b; }

.footer-contact {
  padding: 30px 100px; }

.footer-contact-title {
  width: 100%; }

.footer-contact-title span {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.footer-contact-detail {
  padding: 0;
  padding-top: 10px; }

.footer-contact-detail a {
  text-decoration: none;
  color: #000; }

.footer-contact-detail a:hover {
  text-decoration: none;
  color: #000; }

.footer-contact-detail-mail {
  padding-bottom: 20px; }

.footer-contact-detail-facebook {
  padding-bottom: 20px; }

.footer-contact-detail-facebook img {
  padding-left: 13px;
  padding-right: 15px; }

.footer-contact-detail-phone {
  padding-bottom: 20px; }

.footer-contact-detail-phone img {
  padding-left: 10px;
  padding-right: 10px; }

.footer-contact-detail-position img {
  padding-left: 10px;
  padding-right: 10px; }

.footer-service {
  padding: 30px 100px; }

.footer-service-title {
  width: 100%; }

.footer-service-title span {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.footer-service-detail {
  padding: 0;
  padding-top: 10px; }

.footer-service-detail a {
  text-decoration: none;
  color: #000; }

.footer-service-detail a:hover {
  text-decoration: none;
  color: #000; }

.footer-service-detail-netflix {
  padding-bottom: 20px; }

.footer-service-detail-ghienreview {
  padding-bottom: 20px; }

.footer-service-detail-ghienreview img {
  padding-right: 5px; }

.footer-service-detail-wikipedia {
  padding-bottom: 20px; }

.footer-service-detail-wikipedia img {
  padding-right: 5px; }

.footer-service-detail-facebook img {
  padding-right: 15px; }

.content-down {
  height: 100px;
  background: #000; }

.content-down-copyright {
  padding-top: 20px;
  justify-content: center;
  text-align: center;
  width: 100%; }

.content-down-copyright span {
  color: white; }

.content-down-allrights {
  padding-top: 10px;
  justify-content: center;
  text-align: center;
  width: 100%; }

.content-down-allrights span {
  color: white; }

.content-down-allrights i {
  color: white; }

/* Review Actor */
.actor {
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/agelina_bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  height: 700px; }

.actor-content {
  display: flex; }

.actor-content-left {
  width: 50%;
  display: flex; }

.actor-content-left-small-image {
  width: 20%; }

.actor-content-left-small-image img {
  width: 70px;
  height: 130px;
  cursor: pointer;
  padding-top: 30px; }

.actor-content-left-big-image {
  padding-left: 30px;
  width: 80%;
  padding-right: 30px; }

.actor-content-left-big-image img {
  padding-left: 30px;
  width: 85%;
  height: 100%; }

.actor-content-right {
  width: 50%;
  padding-left: 100px; }

.actor-content-right-name-angelina h1 {
  font-family: Arial;
  font-weight: 700; }

.actor-content-right-name-angelina p {
  font-weight: 700;
  font-family: Arial;
  padding-bottom: 20px; }

.actor-content-right-detail-angelina {
  font-family: Arial;
  text-align: justify;
  padding-bottom: 40px; }

.actor-content-right-button {
  display: flex;
  justify-content: space-around; }

.actor-content-right-name-tom h1 {
  font-family: Arial;
  font-weight: 700; }

.actor-content-right-name-tom p {
  font-weight: 700;
  font-family: Arial;
  padding-bottom: 20px; }

.actor-content-right-detail-tom {
  font-family: Arial;
  text-align: justify;
  padding-bottom: 40px; }

.actor-content-right-name-hoyeon h1 {
  font-family: Arial;
  font-weight: 700; }

.actor-content-right-name-hoyeon p {
  font-weight: 700;
  font-family: Arial;
  padding-bottom: 20px; }

.actor-content-right-detail-hoyeon {
  font-family: Arial;
  text-align: justify;
  padding-bottom: 40px; }

.actor-content-right-name-kaity h1 {
  font-family: Arial;
  font-weight: 700; }

.actor-content-right-name-kaity p {
  font-weight: 700;
  font-family: Arial;
  padding-bottom: 20px; }

.actor-content-right-detail-kaity {
  font-family: Arial;
  text-align: justify;
  padding-bottom: 40px; }

.actor-content-right-button {
  display: flex;
  justify-content: space-around; }

.actor-content-right-button {
  display: flex;
  justify-content: space-around; }

.actor-content-right-button {
  display: flex;
  justify-content: space-around; }

.history-button {
  padding: 15px 15px;
  color: white;
  background-color: #f43e3e;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: Arial; }

.review-movie-button {
  padding: 15px 15px;
  color: white;
  background-color: #1f84e1;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: Arial; }

.rules {
  background-color: #fcb1cc;
  padding-top: 20px; }

.rules .col-md-6 {
  padding-bottom: 50px; }

.rules .col-md-6 p {
  padding-top: 80px;
  font-family: Arial;
  font-weight: 700; }

.rules .col-md-6 span {
  color: red; }

.collaborators {
  background-color: #feb8a2;
  padding: 100px 0; }

.collaborators .col-md-6 p {
  font-weight: 700;
  font-size: 20px;
  font-family: Arial; }

.collaborators-form {
  padding-top: 30px;
  padding-bottom: 30px; }

.collaborators-form input {
  margin: 20px 0;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 100%; }

.collaborators button {
  margin-left: 500px;
  padding: 10px 15px;
  width: 175px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 11px;
  background-color: #f21e44;
  color: #fff; }

.comments {
  padding-top: 50px;
  margin-bottom: 150px; }

.comments h1 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px; }

.comments .col-md-6 {
  padding: 10px 80px; }

.comments img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -30px;
  margin-top: -40px;
  border: 5px solid #fff;
  margin-bottom: 30px; }

.review {
  margin-top: 100px;
  font-size: 16px;
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2); }

.review .fa-facebook {
  padding-top: 15px;
  color: #3e7fe1;
  cursor: pointer;
  font-size: 18px; }

.review .fa-heart {
  color: #f21e44; }

/* film_KD*/
.fiml-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/banner1.png");
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.film-squidgame {
  color: #fff;
  padding: 40px;
  display: none; }

.film-spiderman {
  color: #fff;
  padding: 40px; }

.film-likeaboss {
  color: #fff;
  padding: 40px;
  display: none; }

.film-insideout {
  color: #fff;
  padding: 40px;
  display: none; }

.logo {
  margin-left: 20px;
  vertical-align: middle; }

.logo img {
  display: inline-block;
  width: 60px;
  height: 60px; }

.logo .head {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
  margin-bottom: -16px; }

.info_film {
  padding-left: 35px; }

.info_film .info-film-title {
  font-size: 32px;
  text-transform: capitalize; }

.info_film .info-film-title {
  font-size: 32px;
  text-transform: capitalize; }

.info_film .rate-info {
  position: relative; }

.rate-info .rate-icon {
  width: 50px; }

.rate-info > p {
  position: absolute;
  top: 5px;
  left: 60px; }

/*review content*/
.review-content {
  padding-left: 35px;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  display: flex; }

.review-content .content-left, .content-right {
  width: 50%;
  display: inline-block; }

.review-content .content-right {
  margin-top: -150px;
  margin-left: 50px; }

.review-content .content-right img {
  width: 500px;
  border-radius: 10px; }

.content-left .content {
  width: 90%;
  margin-top: 20px; }

/*review content*/
.button-watch {
  margin-top: 30px; }

.button-watch button {
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
  outline: none; }

.button-watch button:hover {
  transform: scale(1.08);
  cursor: pointer; }

.button-watch .button-watch-trailer {
  background-color: #f30707;
  color: #fff;
  margin-right: 100px; }

.others-film {
  margin-top: 20px;
  margin-left: -30px; }

.others-film img {
  width: 150px;
  border-radius: 5px; }

.others-film ul li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 40px; }

.others-film ul li:hover {
  transform: scale(1.08);
  cursor: pointer; }

/* film_KD*/
