<footer>
    <section class="footer">
        <div class="content-up">
            <div class="footer-logo">
                <a href="#">
                    <img src="images/logo.png" />
                </a>
            </div>
            <div class="footer-link">
                <div class="footer-link-title">
                    <i class="fas fa-link fa-2x"><span> Liên kết</span></i>
                    <span class="animate-border mt-2 mb-6"></span>
                </div>
                <ul class="linking">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/">Điều khoản</a></li>
                    <li><a href="/film-review">Review Phim</a></li>
                    <li><a href="/aboutus">Về chúng tôi</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <div class="footer-contact-title">
                    <i class="fas fa-map-marked-alt fa-2x"><span>
                            Liên hệ</span></i>
                    <span class="animate-border mt-2 mb-6"></span>
                </div>
                <div class="footer-contact-detail">
                    <div class="footer-contact-detail-mail">
                        <img src="images/email.png" alt="Email" />
                        <a href="mail.google.com">namsaoquan@gmail.com</a>
                    </div>
                    <div class="footer-contact-detail-facebook">
                        <img src="images/faceicon.png" alt="Facebook" />
                        <a
                            href="facebook.com/dangngohonghai"
                        >facebook.com/dangngohonghai</a>
                    </div>
                    <div class="footer-contact-detail-phone">
                        <img src="images/phone.png" alt="Phone Number" />
                        <a href="#">0123456789</a>
                    </div>
                    <div class="footer-contact-detail-position">
                        <img src="images/address.png" alt="Address" />
                        <a href="maps.google.com">Thành phố Nha Trang, tỉnh
                            Khánh Hòa</a>
                    </div>
                </div>
            </div>
            <div class="footer-service">
                <div class="footer-service-title">
                    <i class="fas fa-handshake fa-2x"><span>
                            Cảm ơn các dịch vụ</span></i>
                    <span class="animate-border mt-2 mb-6"></span>
                </div>
                <div class="footer-service-detail">
                    <div class="footer-service-detail-netflix">
                        <img src="images/netflix.png" alt="Netflix" />
                        <a href="https://www.netflix.com/vn-en/">Netflix</a>
                    </div>
                    <div class="footer-service-detail-ghienreview">
                        <img src="images/ghienreview.png" alt="Ghiền Review" />
                        <a href="https://ghienreview.com/">Ghiền Review</a>
                    </div>
                    <div class="footer-service-detail-wikipedia">
                        <img src="images/wikipedia.png" alt="Wikipedia" />
                        <a
                            href="https://vi.wikipedia.org/wiki/Trang_Ch%C3%ADnh"
                        >Wikipedia</a>
                    </div>
                    <div class="footer-service-detail-facebook">
                        <img src="images/faceicon.png" alt="Facebook" />
                        <a href="facebook.com">Facebook</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-down">
            <div class="content-down-copyright">
                <span>Bản quyền trực thuộc HongHai Entertainment</span>
            </div>
            <div class="content-down-allrights">
                <i class="far fa-copyright"><span>
                        2021 All rights reserved</span></i>
            </div>
        </div>
    </section>
</footer>