<header>
    <section class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> <img src="images/logo.png" /></a></a>
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Tìm kiếm Review Phim" />
                </div>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
                </button>
                   <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/"
                            >Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Điều khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/film-review">Review Phim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">Về chúng tôi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="slider">
        <div class="aspect-ratio-169">
            <img src="images/banner1.jpg" />
            <img src="images/banner.jpg" />
            <img src="images/banner3.jpg" />
            <img src="images/banner2.jpg" />

        </div>

        <div class="dot-container">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

    </section>
</header>