body {
  /* 
    background-image: linear-gradient(
        135.9deg,
        rgba(109, 25, 252, 1) 16.4%,
        rgba(125, 31, 165, 1) 56.1%
    ); */
  min-height: 100vh;
  overflow-x: hidden;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.nav-link {
  text-transform: capitalize;
}

.nav-item img {
  margin-right: 10px;
}
.text-primary {
  color: #7579e7 !important;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.admin-img {
  margin-left: 20px;
  justify-content: center;
}

.menu-review-film {
  margin-left: 100px;
}

.header-admin {
  background: #1976d2;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.admin-title {
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 70px;
}

.content-up-admin-film-review {
  margin: 50px 20px;
}

.content-up-admin-film-review .col-md-4 {
  margin-bottom: 30px;
}

.content-up-admin-film-review .col-md-6 {
  justify-content: center;
  z-index: -1;
}

.content-up-admin-film-review .col-md-6 input {
  padding: 10px 5px;
  width: 50%;
  height: 35px;
}

.content-down-admin-film-review {
  margin-top: 30px;
}

.content-down-admin-film-review textarea {
  width: 100%;
}

.btn-admin-film-content {
  margin-left: 500px;
  margin-top: 20px;
  float: right;
  padding: 5px 15px;
  width: 175px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 11px;
  background-color: #f21e44;
  color: #fff;
}

.content-header-left {
  flex: 3;
}

.header-title {
  text-align: center;
  justify-content: center;
  padding: 30px 0px;
  color: #fff;
}

.content-header-right {
  float: right;
  display: flex;
  align-items: center;
}

.admin-info-right {
  float: right;
  margin-right: 50px;
  margin-left: 30px;
  cursor: pointer;
}
.admin-info-right img{
   width: 50px;
   border-radius: 49%;
}

.admin-info-left .name {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial;
  color: #fff;
}

.admin-info-left .role {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial;
  color: red;
}

.sub-menu-info {
  position: absolute;
  height: 0;
  z-index: 1;
}

.sub-menu-info-show {
    background-color: #fff;
    width: 280px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    transition: 0.2s all ease-in-out;
    margin-top: 10px;
    top: 0px;
    margin-left: -220px;
    z-index: 1;
    line-height: 2;
}

.sub-menu-info ul {
  padding: 0;
}

.active-info {
  display: none;
}

.sub-menu-info ul li {
  padding: 10px 0;
  list-style-type: none;
  float: left;
}

.sub-menu-info ul li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  line-height: 1.5;
  outline: none;
  color: #000;
}

.user-banner {
  float: left;
  display: flex;
}

.info-user-left {
  float: left;
  margin-left: 10px;
  cursor: pointer;
}
.info-user-left  img{
    width: 50px;
    border-radius: 49%;
}

.info-user-right .username {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial;
  color: #4c9dfb;
  display: block;
  margin: 15px;
}

.admin-email {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial;
  color: #4c9dfb;
  margin: 10px 0 0 20px;
}

.another-info-user img {
  padding-right: 20px;
}

.another-info-user a {
  padding-left: 20px;
}

.sub-menu-info-show a:hover {
  color: #1976d2;
}
//Hai
.review_list_admin_container {
  padding: 40px 50px;
}
.review_list_container {
  border: 1px solid #ccc;
}
.review_list_admin_center {
  padding: 30px 30px;
  // border: 1px solid #ccc;
}
.review_list_admin_top_btn button {
  background-color: #497cff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}
.review_list_admin_top_description {
  display: flex;
  align-items: center;
}
.review_list_admin_top_description span {
  color: #497cff;
  font-weight: 500;
}
.review_list_admin_center table {
  border: 1px solid #000;
  // border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.review_list_admin_center th {
  padding: 20px;
  border: 1px solid #000;
  border-collapse: collapse;
}
.review_list_admin_center td {
  border-right: 1px solid #000;
  padding: 20px;
  border-bottom: 1px solid #000;
}
.review_list_admin_top {
  display: flex;
  justify-content: space-between;
  background-color: #e3e3e3;
  // border-top: 1px solid #ccc;
  // border-left: 1px solid #ccc;
  // border-right:1px solid #ccc;
  padding: 20px;
  align-items: center;
}
.review_list_admin_center button {
  width: 100%;
}
.review_list_admin_center button.Edit {
  background-color: #1ce05f;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}
.review_list_admin_center button.Delete {
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}

.review_movie_admin_container {
  padding: 40px 50px;
}
.review_movie_container {
  border: 1px solid #ccc;
}
.review_movie_admin_center {
  padding: 30px 30px;
  // border: 1px solid #ccc;
}
.review_movie_admin_top_btn button {
  background-color: #497cff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}
.review_movie_admin_top_description {
  display: flex;
  align-items: center;
}
.review_movie_admin_top_description span {
  color: #497cff;
  font-weight: 500;
}
.review_movie_admin_center table {
  border: 1px solid #000;
  // border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.review_movie_admin_center th {
  padding: 20px;
  border: 1px solid #000;
  border-collapse: collapse;
}
.review_movie_admin_center td {
  border-right: 1px solid #000;
  padding: 20px;
  border-bottom: 1px solid #000;
}
.review_movie_admin_top {
  display: flex;
  justify-content: space-between;
  background-color: #e3e3e3;
  // border-top: 1px solid #ccc;
  // border-left: 1px solid #ccc;
  // border-right:1px solid #ccc;
  padding: 20px;
  align-items: center;
}
.review_movie_admin_center button {
  width: 100%;
}
.review_movie_admin_center button.Edit {
  background-color: #1ce05f;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}
.review_movie_admin_center button.Delete {
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}

.famous_actor_list_admin_container {
  padding: 40px 50px;
}
.famous_actor_list_container {
  border: 1px solid #ccc;
}
.famous_actor_list_admin_center {
  padding: 30px 30px;
  // border: 1px solid #ccc;
}
.famous_actor_list_admin_top_btn button {
  background-color: #497cff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}
.famous_actor_list_admin_top_description {
  display: flex;
  align-items: center;
}
.famous_actor_list_admin_top_description span {
  color: #497cff;
  font-weight: 500;
}
.famous_actor_list_admin_center table {
  border: 1px solid #000;
  // border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.famous_actor_list_admin_center th {
  padding: 20px;
  border: 1px solid #000;
  border-collapse: collapse;
}
.famous_actor_list_admin_center td {
  border-right: 1px solid #000;
  padding: 20px;
  border-bottom: 1px solid #000;
}
.famous_actor_list_admin_top {
  display: flex;
  justify-content: space-between;
  background-color: #e3e3e3;
  // border-top: 1px solid #ccc;
  // border-left: 1px solid #ccc;
  // border-right:1px solid #ccc;
  padding: 20px;
  align-items: center;
}
.famous_actor_list_admin_center button {
  width: 100%;
}
.famous_actor_list_admin_center button.Edit {
  background-color: #1ce05f;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}
.famous_actor_list_admin_center button.Delete {
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}
//Giao
//User management
.user_mannagement_admin_container {
  padding: 40px 50px;
}
.user_mannagement_container {
  border: 1px solid #ccc;
}
.user_mannagement_admin_center {
  padding: 30px 30px;
  // border: 1px solid #ccc;
}
.user_management_admin_top_btn button {
  background-color: #497cff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  outline: none;
}
.user_management_admin_top_decription {
  display: flex;
  align-items: center;
}
.user_management_admin_top_decription span {
  color: #497cff;
  font-weight: 500;
}
.user_mannagement_admin_center table {
  border: 1px solid #000;
  // border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.user_mannagement_admin_center th {
  padding: 20px;
  border: 1px solid #000;
  border-collapse: collapse;
}
.user_mannagement_admin_center td {
  border-right: 1px solid #000;
  padding: 20px;
  border-bottom: 1px solid #000;
}
.user_mannagement_admin_top {
  display: flex;
  justify-content: space-between;
  background-color: #e3e3e3;
  // border-top: 1px solid #ccc;
  // border-left: 1px solid #ccc;
  // border-right:1px solid #ccc;
  padding: 20px;
  align-items: center;
}
.user_mannagement_admin_center button {
  width: 100%;
}
.user_mannagement_admin_center button.Edit {
  background-color: #1ce05f;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}
.user_mannagement_admin_center button.Delete {
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}
//admin-mannagement
.admin_mannagement_admin_container {
  padding: 40px 50px;
}
.admin_mannagement_container {
  border: 1px solid #ccc;
}
.admin_mannagement_admin_center {
  padding: 30px 30px;
  // border: 1px solid #ccc;
}
.admin_management_admin_top_btn button {
  background-color: #497cff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  outline: none;
}
.admin_management_admin_top_decription {
  display: flex;
  align-items: center;
}
.admin_management_admin_top_decription span {
  color: #497cff;
  font-weight: 500;
}
.admin_mannagement_admin_center table {
  border: 1px solid #000;
  // border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.admin_mannagement_admin_center th {
  padding: 20px;
  border: 1px solid #000;
  border-collapse: collapse;
}
.admin_mannagement_admin_center td {
  border-right: 1px solid #000;
  padding: 20px;
  border-bottom: 1px solid #000;
}
.admin_mannagement_admin_top {
  display: flex;
  justify-content: space-between;
  background-color: #e3e3e3;
  // border-top: 1px solid #ccc;
  // border-left: 1px solid #ccc;
  // border-right:1px solid #ccc;
  padding: 20px;
  align-items: center;
}
.admin_mannagement_admin_center button {
  width: 100%;
}
.admin_mannagement_admin_center button.Edit {
  background-color: #1ce05f;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}
.admin_mannagement_admin_center button.Delete {
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: none;
  outline: none;
}
//CTV_mannagement-admin
.CTV_mannagement_admin_container {
  padding: 40px 50px;
}
.CTV_mannagement_container {
  border: 1px solid #ccc;
}
.CTV_mannagement_admin_center {
  padding: 30px 30px;
  // border: 1px solid #ccc;
}
.CTV_management_admin_top_btn button {
  background-color: #497cff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  outline: none;
}
.CTV_management_admin_top_decription {
  display: flex;
  align-items: center;
}
.CTV_management_admin_top_decription span {
  color: #497cff;
  font-weight: 500;
}
.CTV_mannagement_admin_center table {
  border: 1px solid #000;
  // border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.CTV_mannagement_admin_center th {
  padding: 20px;
  border: 1px solid #000;
  border-collapse: collapse;
}
.CTV_mannagement_admin_center td {
  border-right: 1px solid #000;
  padding: 20px;
  border-bottom: 1px solid #000;
}
.CTV_mannagement_admin_top {
  display: flex;
  justify-content: space-between;
  background-color: #e3e3e3;
  // border-top: 1px solid #ccc;
  // border-left: 1px solid #ccc;
  // border-right:1px solid #ccc;
  padding: 20px;
  align-items: center;
}
// .CTV_mannagement_admin_center  button{
//     width: 100%;
// }
.CTV_mannagement_admin_center button.Edit {
  background-color: #1ce05f;
  color: #fff;
  border-radius: 5px;
  padding: 5px 5px;
  margin-right: 15px;
  font-weight: 500;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border: none;
  outline: none;
}
.CTV_mannagement_admin_center button.Delete {
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  padding: 5px 5px;
  font-weight: 500;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border: none;
  outline: none;
}
.btn_CTV_List {
  display: flex;
}

@media (max-width: 46.1875em) {
  table th,
  table td {
    display: block;
    border-bottom: none;
  }
  .admin_mannagement_admin_container {
    padding: 0px 0px;
  }
  .admin_mannagement_admin_center,
  .user_mannagement_admin_center {
    padding: 20px 20px;
  }
  .user_mannagement_admin_container,
  .CTV_mannagement_admin_container {
    padding: 10px;
  }
  .CTV_mannagement_admin_center button.Edit {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .user_mannagement_admin_center button.Edit {
    font-size: 20px;
  }
  .user_mannagement_admin_center button.Delete {
    font-size: 20px;
  }
  .CTV_mannagement_admin_center button.Delete {
    width: 100%;
    justify-content: center;
    font-size: 20px;
  }
  .btn_CTV_List {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
