// Hải
@import "admin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 0px 120px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.container-fluid {
  margin-top: 0;
  top: 0;
}

.navbar-brand {
  margin-top: 0px;
  flex: 1;
}

.navbar-brand img {
  padding-top: 15px;
  width: 180px;
}

.search {
  display: flex;
  flex: 3;
  width: 800px;
  height: 50px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #fff;
  margin-right: 20px;
}

.search i {
  margin: 0 5px;
  padding-top: 5px;
}

.search input {
  height: 30px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.navbar-nav {
  flex: 5;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  float: right;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  padding: 0 12px;
  position: relative;
}

.navbar ul li a {
  font-family: Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  display: inline-block;
  line-height: 20px;
  color: #fff !important;
  text-decoration: none;
  text-align: center;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  font-family: Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  display: inline-block;
  line-height: 20px;
  color: red !important;
  text-decoration: none;
  text-align: center;
}

.navbar span {
  color: white;
}

@media (max-width: 985px) {
  .search {
    display: none !important;
  }
}

.aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 56.25%;
  transition: 0.3s all ease-in-out;
}

.aspect-ratio-169 img {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 91%;
  object-fit: cover;
}

.slider {
  overflow: hidden;
}

.dot-container {
  width: 100%;
  margin-top: -100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.dot {
  height: 15px;
  margin-top: -120px;
  width: 15px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  margin-right: 15px;
}

.dot.active {
  background-color: #c23535;
}

.footer {
  width: 100%;
}

.content-up {
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: #efefef;
}

.footer-logo {
  margin-top: 95px;
  padding-left: 30px;
}

.footer-logo img {
  width: 200px;
}

.footer-link {
  padding: 30px 100px;
}

.footer-link-title {
  width: 100%;
}

.footer-link-title span {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.linking {
  padding: 0;
  padding-top: 10px;
}

.linking li {
  padding-bottom: 20px;
  list-style-type: none;
}

.linking li a {
  text-decoration: none;
  color: #000;
}

.animate-border {
  position: relative;
  display: block;
  width: 130px;
  height: 3px;
  background: #e6673b;
}

.footer-contact {
  padding: 30px 100px;
}

.footer-contact-title {
  width: 100%;
}

.footer-contact-title span {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-contact-detail {
  padding: 0;
  padding-top: 10px;
}

.footer-contact-detail a {
  text-decoration: none;
  color: #000;
}

.footer-contact-detail a:hover {
  text-decoration: none;
  color: #000;
}

.footer-contact-detail-mail {
  padding-bottom: 20px;
}

.footer-contact-detail-facebook {
  padding-bottom: 20px;
}

.footer-contact-detail-facebook img {
  padding-left: 13px;
  padding-right: 15px;
}

.footer-contact-detail-phone {
  padding-bottom: 20px;
}

.footer-contact-detail-phone img {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-contact-detail-position img {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-service {
  padding: 30px 100px;
}

.footer-service-title {
  width: 100%;
}

.footer-service-title span {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-service-detail {
  padding: 0;
  padding-top: 10px;
}

.footer-service-detail a {
  text-decoration: none;
  color: #000;
}

.footer-service-detail a:hover {
  text-decoration: none;
  color: #000;
}

.footer-service-detail-netflix {
  padding-bottom: 20px;
}

.footer-service-detail-ghienreview {
  padding-bottom: 20px;
}

.footer-service-detail-ghienreview img {
  padding-right: 5px;
}

.footer-service-detail-wikipedia {
  padding-bottom: 20px;
}

.footer-service-detail-wikipedia img {
  padding-right: 5px;
}

.footer-service-detail-facebook img {
  padding-right: 15px;
}

.content-down {
  height: 100px;
  background: #000;
}

.content-down-copyright {
  padding-top: 20px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.content-down-copyright span {
  color: white;
}

.content-down-allrights {
  padding-top: 10px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.content-down-allrights span {
  color: white;
}

.content-down-allrights i {
  color: white;
}

/* Review Actor */

.actor {
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/agelina_bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  height: 700px;
}

.actor-content {
  display: flex;
}

.actor-content-left {
  width: 50%;
  display: flex;
}
.main-film > div {
  color: #fff;
  padding: 40px;
  display: none;
}
.main-film > div:first-child {
  display: block;
}

.actor-content-left-small-image {
  width: 20%;
}

.actor-content-left-small-image img {
  width: 70px;
  height: 130px;
  cursor: pointer;
  padding-top: 30px;
}

.actor-content-left-big-image {
  padding-left: 30px;
  width: 80%;

  padding-right: 30px;
}

.actor-content-left-big-image img {
  padding-left: 30px;
  width: 85%;
  height: 100%;
}

.actor-content-right {
  width: 50%;
  padding-left: 100px;
}

.actor-content-right-name-angelina h1 {
  font-family: Arial;
  font-weight: 700;
}
.actor-content-right-name-angelina p {
  font-weight: 700;
  font-family: Arial;
  padding-bottom: 20px;
}

.actor-content-right-detail-angelina {
  font-family: Arial;
  text-align: justify;
  padding-bottom: 40px;
}

.actor-content-right-button {
  display: flex;
  justify-content: space-around;
}

.actor-content-right-name-tom h1 {
  font-family: Arial;
  font-weight: 700;
}
.actor-content-right-name-tom p {
  font-weight: 700;
  font-family: Arial;
  padding-bottom: 20px;
}

.actor-content-right-detail-tom {
  font-family: Arial;
  text-align: justify;
  padding-bottom: 40px;
}

.actor-content-right-name-hoyeon h1 {
  font-family: Arial;
  font-weight: 700;
}
.actor-content-right-name-hoyeon p {
  font-weight: 700;
  font-family: Arial;
  padding-bottom: 20px;
}

.actor-content-right-detail-hoyeon {
  font-family: Arial;
  text-align: justify;
  padding-bottom: 40px;
}

.actor-content-right-name-kaity h1 {
  font-family: Arial;
  font-weight: 700;
}
.actor-content-right-name-kaity p {
  font-weight: 700;
  font-family: Arial;
  padding-bottom: 20px;
}

.actor-content-right-detail-kaity {
  font-family: Arial;
  text-align: justify;
  padding-bottom: 40px;
}

.actor-content-right-button {
  display: flex;
  justify-content: space-around;
}

.actor-content-right-button {
  display: flex;
  justify-content: space-around;
}

.actor-content-right-button {
  display: flex;
  justify-content: space-around;
}

.history-button {
  padding: 15px 15px;
  color: white;
  background-color: #f43e3e;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: Arial;
}

.review-movie-button {
  padding: 15px 15px;
  color: white;
  background-color: #1f84e1;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: Arial;
}

.rules {
  background-color: #fcb1cc;
  padding-top: 20px;
}

.rules .col-md-6 {
  padding-bottom: 50px;
}

.rules .col-md-6 p {
  padding-top: 80px;
  font-family: Arial;
  font-weight: 700;
}

.rules .col-md-6 span {
  color: red;
}

.collaborators {
  background-color: #feb8a2;
  padding: 100px 0;
}

.collaborators .col-md-6 p {
  font-weight: 700;
  font-size: 20px;
  font-family: Arial;
}

.collaborators-form {
  padding-top: 30px;
  padding-bottom: 30px;
}

.collaborators-form input {
  margin: 20px 0;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 100%;
}

.collaborators button {
  margin-left: 500px;
  padding: 10px 15px;
  width: 175px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 11px;
  background-color: #f21e44;
  color: #fff;
}

.comments {
  padding-top: 50px;
  margin-bottom: 150px;
}

.comments h1 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
}

.comments .col-md-6 {
  padding: 10px 80px;
}

.comments img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -30px;
  margin-top: -40px;
  border: 5px solid #fff;
  margin-bottom: 30px;
}

.review {
  margin-top: 100px;
  font-size: 16px;
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

.review .fa-facebook {
  padding-top: 15px;
  color: #3e7fe1;
  cursor: pointer;
  font-size: 18px;
}

.review .fa-heart {
  color: #f21e44;
}

/*Review Detail */

.review-detail {
  margin-top: 80px;
  margin-bottom: 50px;
}

.review-detail-top {
  padding-bottom: 20px;
}

.review-detail-top .title {
  font-weight: 700;
  font-size: 30px;
  font-family: Arial;
}

.review-detail-top .three-dots {
  margin-top: -40px;
  float: right;
}
.sub-menu-show {
  position: absolute;
  height: 0;
}
.sub-menu {
  background-color: #fff;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  transition: 0.2s all ease-in-out;
  margin-top: 10px;
  top: 0px;
  margin-left: -200px;
  z-index: 1;
  line-height: 2;
  text-align: center;
}

.sub-menu-show ul {
  padding: 0;
}

.active-three-dots {
  display: none;
}
.sub-menu-show ul li {
  text-align: center;
  padding: 10px 0;
  list-style-type: none;
}
.sub-menu-show ul li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  line-height: 1.5;
  outline: none;
  color: #000;
}

.review-detail-top .three-dots .sub-menu li a:hover,
.review-detail-top .three-dots .sub-menu li a:focus {
  color: blue;
}

.review-detail-top .three-dots-button i {
  font-size: 20px;
  cursor: pointer;
}

.review-detail-info {
  padding: 15px 0;
}

.review-detail-author {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-detail-author .review-detail-author-left {
  float: left;
  padding-right: 20px;
}

.review-detail-author .review-detail-author-right .name {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial;
}

.review-detail-author .review-detail-author-right .role {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial;
  color: #2c38a4;
}

.review-detail-audience {
  float: right;
  font-weight: 700;
  z-index: -1;
}

.review-detail-audience i {
  padding-left: 10px;
  color: yellow;
}

.review-detail-content-top .col-md-6 {
  padding-bottom: 20px;
}

.review-detail-content-top-info span {
  float: left;
  padding-right: 10px;
  font-weight: 700;
  font-size: 15px;
  font-family: Arial;
}

.review-detail-content-top-info p {
  font-style: italic;
  color: #ff3737;
  font-size: 15px;
  font-family: Arial;
  padding-bottom: 50px;
}

.review-detail-content {
  padding-top: 20px;
  text-align: justify;
  font-family: Arial;
}

.review-detail-content .image-info {
  padding: 10px 0;
  justify-content: center;
  text-align: center;
  font-style: italic;
  font-weight: 700;
}

.review-detail-content .part {
  font-style: italic;
  font-weight: 700;
  padding: 15px 10px;
  text-align: justify;
}

.review-detail-content-evaluate {
  padding: 20px 12px;
  display: flex;
  align-items: center;
}

.review-detail-content .evaluate {
  margin: 20px 0;
  font-weight: 700;
}

.review-detail-content .source {
  padding: 20px 12px;
  text-align: right;
  font-weight: 700;
  padding-bottom: 30px;
}

.review-detail-content .evaluate-question {
  margin-top: -25px;
  padding-right: 150px;
  font-weight: 700;
}

.review-detail-content-rating {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
}

.review-detail-content-rating input {
  display: none;
}

.review-detail-content-rating label {
  display: block;
  cursor: pointer;
  width: 50px;
}

.review-detail-content-rating label:before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  position: relative;
  display: block;
  font-size: 20px;
  color: #101010;
}

.review-detail-content-rating label:after {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  position: absolute;
  display: block;
  font-size: 20px;
  color: yellow;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.review-detail-content-rating label:hover:after,
.review-detail-content-rating label:hover ~ label:after,
.review-detail-content-rating input:checked ~ label:after {
  opacity: 1;
}

.review-detail-comment {
  padding-top: 10px;
}

.review-detail-comment .title {
  padding: 50px 12px;
  font-weight: 700;
  font-size: 20px;
}

.review-detail-comment-user {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-detail-comment-user-first {
  padding: 20px 10px;
  padding-bottom: 50px;
  display: flex;
}

.review-detail-comment-user-second {
  padding: 20px 10px;
  padding-bottom: 50px;
  display: flex;
}

.review-detail-comment-user-third {
  padding: 20px 10px;
  padding-bottom: 50px;
  display: flex;
}

.review-detail-comment-user-forth {
  padding: 20px 10px;
  padding-bottom: 50px;
  display: flex;
}

.review-detail-comment-user-input {
  padding: 20px 10px;
  padding-bottom: 50px;
  display: flex;
}

.review-detail-comment-user-left {
  float: left;
}

.review-detail-comment-user-left img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -30px;
  margin-top: -40px;
  border: 5px solid #fff;
  margin-bottom: 30px;
}

.review-detail-comment-user-right-text {
  margin-top: -40px;
  margin-left: -20px;
  font-size: 16px;
  padding: 5px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  width: 1200px;
  height: 120%;
  align-items: center;
}
.review-detail-comment-user-right-text span {
  padding-top: 30px;
  color: #3e7fe1;
}

.review-detail-comment-user-right-text-input {
  margin-top: -40px;
  margin-left: -20px;
  font-size: 16px;
  padding: 5px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  width: 1200px;
  height: 120%;
  align-items: center;
}

.review-detail-comment-user-right-text-input input {
  padding-top: 20px;
  height: 30px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
}

.review-detail-comment-user-button button {
  float: right;
  padding: 10px 15px;
  width: 175px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 11px;
  background-color: #f21e44;
  color: #fff;
}

// Khánh Duy
/* film_KD*/
.fiml-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/banner1.png");
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.film-squidgame {
  color: #fff;
  padding: 40px;
  display: none;
}
.film-spiderman {
  color: #fff;
  padding: 40px;
}
.film-likeaboss {
  color: #fff;
  padding: 40px;
  display: none;
}
.film-insideout {
  color: #fff;
  padding: 40px;
  display: none;
}

//test
.main-film > div {
  color: #fff;
  padding: 40px;
  display: none;
}
.main-film > div:first-child {
  display: block;
}
//test
main .logo {
  margin-left: 20px;
  vertical-align: middle;
}
.logo img {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.logo .head {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
  margin-bottom: -16px;
}
.info_film {
  padding-left: 35px;
}
.info_film .info-film-title {
  font-size: 32px;
  text-transform: capitalize;
}
.info_film .info-film-title {
  font-size: 32px;
  text-transform: capitalize;
}
.info_film .rate-info {
  position: relative;
}
.rate-info .rate-icon {
  width: 50px;
}
.rate-info > p {
  position: absolute;
  top: 5px;
  left: 60px;
}
/*review content*/
.review-content {
  padding-left: 35px;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  display: flex;
}
.review-content .content-left,
.content-right {
  width: 50%;
  display: inline-block;
}
.review-content .content-right {
  margin-top: -150px;
  margin-left: 50px;
}
.review-content .content-right img {
  width: 500px;
  border-radius: 10px;
}
.content-left .content {
  width: 90%;
  margin-top: 20px;
}
/*review content*/
.button-watch {
  margin-top: 30px;
}
.button-watch button {
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
  outline: none;
}
.button-watch button:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.button-watch .button-watch-trailer {
  background-color: rgb(243, 7, 7);
  color: #fff;
  margin-right: 100px;
}
.others-film {
  margin-top: 20px;
  margin-left: -30px;
}
.others-film img {
  width: 150px;
  border-radius: 5px;
}
.others-film ul li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 40px;
}
.others-film ul li:hover {
  transform: scale(1.08);
  cursor: pointer;
}
/* film_KD*/

// Giao
/* Another film*/
.another-flim-container {
  position: relative;
}
.container-item {
  padding: 60px;
  background-color: #d0d0d0;
  height: 700px;
}

.middle-container {
  display: flex;
  overflow: hidden;
}
.text-container-top {
  text-align: center;
  margin-bottom: 40px;
}
i.fas.fa-film.board {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  font-size: 100px;
}
i.fas.fa-video.flim {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 100px;
}
.content-img-top img {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 150px;
}
.text-container-top {
  font-size: 25px;
}
.middle-content {
  display: flex;
  width: 100%;
}
.content-item {
  width: 33.33%;

  text-align: center;
}
.text-content {
  text-align: center;
  margin-top: 10px;
}
.content-item img {
  width: 260px;
  height: 350px;
  border-radius: 30px;
}
.content-item p {
  font-size: 22px;
  font-weight: 500;
}

/*Login*/

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.login .content-left {
  position: relative;
  width: 50%;
  height: 100%;
}

.login .content-left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login .content-left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login .content-right {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.login-title {
  justify-content: center;
  padding-top: 80px;
}

.login-title img {
  width: 50px;
  height: 25px;
}

.login .content-right .form-login {
  width: 70%;
}

.login .content-right .form-login .login-title-text {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: Arial;
  justify-content: center;
  text-align: center;
}

.login-input-form {
  margin-bottom: 30px;
  justify-content: center;
}

.login .content-right .form-login .input-group input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

.login .save-password {
  display: flex;
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}

.login button {
  display: block;
  width: 100%;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #265ce9;
  padding: 7px 30px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.login .others {
  display: flex;
  justify-content: space-between;
}

.login .others a {
  text-decoration: none;
  color: #3430eb;
}

.login .others a:hover {
  cursor: pointer;
  color: #2a36a0;
  transition: all 0.3s ease-in-out;
}

.login .copyright {
  position: relative;
  justify-content: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #898989;
  padding-bottom: 10px;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .login-title {
    justify-content: center;
    padding-top: 0;
  }
  .login .content-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .login .content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .login .content-right .form-login {
    width: 100%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
  }
}

/*Register*/

.register {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.register .content-left {
  position: relative;
  width: 50%;
  height: 100%;
}

.register .content-left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.register .content-left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register .content-right {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.register-title {
  justify-content: center;
  padding-top: 80px;
}

.register-title img {
  width: 50px;
  height: 25px;
}

.register .content-right .form-register {
  width: 70%;
}

.register .content-right .form-register .register-title-text {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: Arial;
  justify-content: center;
  text-align: center;
}

.register-input-form {
  margin-bottom: 30px;
  justify-content: center;
}

.register .content-right .form-register .input-group input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

.register .save-password {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}

.register button {
  display: block;
  width: 100%;
  border: none;
  margin-top: 20px;
  background-color: #265ce9;
  padding: 7px 28px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.register .others {
  display: flex;
  justify-content: space-between;
}

.register .others a {
  text-decoration: none;
  color: #3430eb;
}

.register .others a:hover {
  cursor: pointer;
  color: #2a36a0;
  transition: all 0.3s ease-in-out;
}

.register .copyright {
  position: relative;
  justify-content: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #898989;
  padding-bottom: 10px;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .register-title {
    justify-content: center;
    padding-top: 0;
  }
  .register .content-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .register .content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .register .content-right .form-register {
    width: 100%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
  }
}

/*Forgot*/

.forgot {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.forgot .content-left {
  position: relative;
  width: 50%;
  height: 100%;
}

.forgot .content-left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.forgot .content-left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forgot .content-right {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.forgot-title {
  justify-content: center;
  padding-top: 80px;
}

.forgot-title img {
  width: 50px;
  height: 25px;
}

.forgot .content-right .form-forgot {
  width: 70%;
}

.forgot .content-right .form-forgot .forgot-title-text {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: Arial;
  justify-content: center;
  text-align: center;
}

.forgot-input-form {
  margin-bottom: 30px;
  justify-content: center;
}

.forgot .content-right .form-forgot .input-group input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

.forgot .save-password {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}

.forgot button {
  display: block;
  width: 100%;
  border: none;
  margin-top: 20px;
  background-color: #265ce9;
  padding: 7px 28px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.forgot .others {
  display: flex;
  justify-content: space-between;
}

.forgot .others a {
  text-decoration: none;
  color: #3430eb;
}

.forgot .others a:hover {
  cursor: pointer;
  color: #2a36a0;
  transition: all 0.3s ease-in-out;
}

.forgot .copyright {
  position: relative;
  justify-content: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #898989;
  padding-bottom: 10px;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .forgot-title {
    justify-content: center;
    padding-top: 0;
  }
  .forgot .content-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .forgot .content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .forgot .content-right .form-forgot {
    width: 100%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
  }
}

/*Change Password*/

.change-password {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.change-password .content-left {
  position: relative;
  width: 50%;
  height: 100%;
}

.change-password .content-left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.change-password .content-left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.change-password .content-right {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.change-password-title {
  justify-content: center;
  padding-top: 80px;
}

.change-password-title img {
  width: 50px;
  height: 25px;
}

.change-password .content-right .form-change-password {
  width: 70%;
}

.change-password
  .content-right
  .form-change-password
  .change-password-title-text {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: Arial;
  justify-content: center;
  text-align: center;
}

.change-password-input-form {
  margin-bottom: 30px;
  justify-content: center;
}

.change-password .content-right .form-change-password .input-group input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

.change-password .save-password {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}

.change-password button {
  display: block;
  width: 100%;
  border: none;
  margin-top: 20px;
  background-color: #265ce9;
  padding: 7px 28px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.change-password .others {
  display: flex;
  justify-content: space-between;
}

.change-password .others a {
  text-decoration: none;
  color: #3430eb;
}

.change-password .others a:hover {
  cursor: pointer;
  color: #2a36a0;
  transition: all 0.3s ease-in-out;
}

.change-password .copyright {
  position: relative;
  justify-content: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #898989;
  padding-bottom: 10px;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .change-password-title {
    justify-content: center;
    padding-top: 0;
  }
  .change-password .content-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .change-password .content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .change-password .content-right .form-change-password {
    width: 100%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
  }
}

// Khánh Duy
/* film_KD*/
.fiml-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/banner1.png");
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.film-squidgame {
  color: #fff;
  padding: 40px;
  display: none;
}
.film-spiderman {
  color: #fff;
  padding: 40px;
}
.film-likeaboss {
  color: #fff;
  padding: 40px;
  display: none;
}
.film-insideout {
  color: #fff;
  padding: 40px;
  display: none;
}
.logo {
  margin-left: 20px;
  vertical-align: middle;
}
.logo img {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.logo .head {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
  margin-bottom: -16px;
}
.info_film {
  padding-left: 35px;
}
.info_film .info-film-title {
  font-size: 32px;
  text-transform: capitalize;
}
.info_film .info-film-title {
  font-size: 32px;
  text-transform: capitalize;
}
.info_film .rate-info {
  position: relative;
}
.rate-info .rate-icon {
  width: 50px;
}
.rate-info > p {
  position: absolute;
  top: 5px;
  left: 60px;
}
/*review content*/
.review-content {
  padding-left: 35px;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  display: flex;
}
.review-content .content-left,
.content-right {
  width: 50%;
  display: inline-block;
}
.review-content .content-right {
  margin-top: -150px;
  margin-left: 50px;
}
.review-content .content-right img {
  width: 500px;
  border-radius: 10px;
}
.content-left .content {
  width: 90%;
  margin-top: 20px;
}
/*review content*/
.button-watch {
  margin-top: 30px;
}
.button-watch button {
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
  outline: none;
}
.button-watch button:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.button-watch .button-watch-trailer {
  background-color: rgb(243, 7, 7);
  color: #fff;
  margin-right: 100px;
}
.others-film {
  margin-top: 20px;
  margin-left: -30px;
}
.others-film img {
  width: 150px;
  border-radius: 5px;
}
.others-film ul li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 40px;
}
.others-film ul li:hover {
  transform: scale(1.08);
  cursor: pointer;
}
/* film_KD*/
/*films-review*/
.review-phim-container {
  font-size: 16px;
  color: #fff;
  background-color: #1a191f;
  display: block;
}
.link {
  padding-top: 30px;
  padding-left: 50px;
}
#form-film {
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  margin-left: 50px;
  display: block;
}
.title-page {
  font-size: 20px;
  text-align: center;
  color: rgba(241, 190, 22, 0.918);
}
.fa-film {
  font-size: 100px;
}
.main-review-film {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 40px;
}

.one-film {
  margin: 10px 20px;
  text-align: center;
  display: inline-block;
  flex-basis: 20%;
}
.one-film:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.one-film img {
  width: 250px;
  border-radius: 10px;
}
.one-film .film-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
.one-film .film-title:hover {
  color: #def31e;
  transform: scale(1.05);
  cursor: pointer;
}
.film-content {
  text-align: center;
}
.rate-film {
  display: flex;
  justify-content: center;
}
.rate-film img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
}
.rate-content .point {
  margin-top: -16px;
}
.kind-of-film {
  color: #def31e;
}
.more {
  text-align: center;
  padding: 40px;
}
.more a {
  text-decoration: none;
  color: #fff;
}
.more a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.fa-angle-double-down {
  font-size: 15px;
}
/*personal-page*/
.fas,
.fab,
.far {
  margin-right: 10px;
}
.personal-page-header {
  width: 100%;
  height: 350px;
}
.cover-image {
  display: flex;
  justify-content: space-between;
  background-color: #3e7fe1;
  background-image: url("../images/banner_cover 1.png");
  background-repeat: no-repeat;

  background-size: 100%;
  width: 100%;
  height: 200px;
}
.cover-image .logo img {
  width: 180px;
  margin-left: 60px;
}
.cover-image .personal-avt-small {
  margin-top: 30px;
  margin-right: 30px;
  position: relative;
}
.cover-image .personal-avt-small img {
  width: 50px;
}
.personal-menu {
  position: absolute;
  top: 30px;
  left: -300px;
  width: 280px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: l;
  margin-top: 10px;
  z-index: 1;
  line-height: 2;
  transition: 0.2s all ease-in-out;
}
.personal-menu ul li a {
  text-decoration: none;
  color: #000;
}
.personal-menu ul li:hover {
  cursor: pointer;
}
.personal-menu li:hover a {
  color: #265ce9;
}
.user-post {
  display: flex;
}
.user-post .personal-avt-small img {
  width: 30px;
  margin: -10px 0 10px 10px;
}
.user-post .name .full-name {
  margin: 15px 0 -10px;
  color: #000;
}
.user-post .username {
  color: #3e7fe1;
  font-weight: 600;
  margin-bottom: -1px;
}
.personal-infor {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.personal-infor .personal-avt-info {
  width: 30%;
  position: relative;
}
.personal-avt-big {
  position: absolute;
  top: -50px;
  left: 60px;
}
.personal-avt-big img {
  border-radius: 50%;
  width: 150px;
}
.infor-inweb {
  position: absolute;
  left: 230px;
  font-weight: 600;
  padding-top: 10px;
}
.infor-inweb a {
  text-decoration: none;
}
.infor-inweb a:hover {
  text-decoration: underline;
}
.infor-inweb .name-in-page {
  margin-bottom: -1px;
}
.infor-inweb .role-in-page {
  color: #f21e44;
}
.personal-tools {
  padding: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.add-post {
  margin-right: 15px;
}
.add-post:hover {
  cursor: pointer;
  color: #38c026;
}
.recycle-bin:hover {
  cursor: pointer;
  color: #f43e3e;
}
.personal-page-body {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.personal-page-body .personal-introduce {
  margin-top: 40px;
  margin-left: 70px;
  padding: 20px;
  text-align: left;
  background-color: rgb(197, 235, 235);
  border-radius: 10px;
  display: block;
  height: 230px;
}
.personal-page-body .personal-introduce .intro {
  font-weight: bold;
}
.personal-page-body .personal-introduce .interests {
  margin-top: 10px;
}
.personal-page-body .personal-introduce a {
  text-decoration: none;
}
.personal-page-body .personal-introduce a:hover {
  text-decoration: underline;
}
.personal-page-main {
  width: 55%;
  margin-left: 150px;
  margin-bottom: 50px;
}
.personal-page-main > p {
  font-weight: bold;
  font-size: 18px;
}
.personal-post {
  display: block;
  background-color: beige;
  border-radius: 10px;
  padding: 20px;
}
.personal-post .infor-post {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.personal-post .infor-post .user-post {
  display: flex;
  justify-content: space-between;
}
.user-post .personal-avt-small img {
  width: 50px;
}
.user-post .name-and-time {
  margin-left: 10px;
}
.user-post .name {
  color: #3e7fe1;
  font-weight: 600;
  margin-bottom: -1px;
}
.user-post .time {
  font-style: italic;
  font-size: 14px;
}
.three-dots-btn {
  position: relative;
}
.icon-three-dots {
  padding: 4px;
}
.three-dots-btn .icon-three-dots:hover {
  cursor: pointer;
}
.three-dots-btn .icon-three-dots:hover i {
  color: #265ce9;
  transform: scale(1.08);
}
.three-dots-tools {
  position: absolute;
  left: -20px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  margin-top: 10px;
  z-index: 1;
  line-height: 2;
  transition: 0.2s all ease-in-out;
}
.three-dots-tools ul {
  padding: 0;
  margin: 0;
}
.three-dots-tools ul li {
  padding: 5px;
}
.three-dots-tools ul li a {
  text-decoration: none;
  color: #000;
}
.three-dots-tools ul li:hover a {
  transform: scale(1.08);
  color: #265ce9;
}
.post-content {
  text-align: center;
}
.post-content .film-name {
  font-weight: bold;
  font-size: 20px;
}
.post-content .film-name img {
  width: 90%;
  border-radius: 10px;
}
.post-content .film-content {
  text-align: justify;
}
/*personal-page*/
//end KhanhDuy
// Giao
/* Another film*/
.another-flim-container {
  position: relative;
}
.container-item {
  padding: 60px;
  background-color: #d0d0d0;
  height: 700px;
}

.middle-container {
  display: flex;
  overflow: hidden;
}
.text-container-top {
  text-align: center;
  margin-bottom: 40px;
}
i.fas.fa-film.board {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  font-size: 100px;
}
i.fas.fa-video.flim {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 100px;
}
.content-img-top img {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 150px;
}
.text-container-top {
  font-size: 25px;
}
.middle-content {
  display: flex;
  width: 100%;
}
.content-item {
  width: 33.33%;

  text-align: center;
}
.text-content {
  text-align: center;
  margin-top: 10px;
}
.content-item img {
  width: 260px;
  height: 350px;
  border-radius: 30px;
}
.content-item p {
  font-size: 22px;
  font-weight: 500;
}
/*AboutUs*/
.AboutUsSlide2__container {
  background-color: #d0d0d0;
  padding: 30px 20px;
  width: 100%;
}
.TopAboutUs__container {
  margin-bottom: 0;
  padding: 20px;
}
.TopAboutUs__container h3 {
  font-size: 15px;
  font-weight: 600;
}
.TopAboutUs__Item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.AboutUs__Item_img {
  width: 50%;
  padding: 20px;
}

.AboutUs__Item_img img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.AboutUs__Item_decripsion {
  width: 50%;
  padding: 20px;
  line-height: 1.4;
}
.AboutUs__Item_decripsion__2 {
  width: 50%;
  padding: 20px;
  line-height: 1.4;
}
.AboutUs__Item_img__2 {
  width: 50%;
  padding: 20px;
}
.AboutUs__Item_img__2 img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.TopAboutUs__Item_decripsion_first {
  margin-bottom: 20px;
}
.TopAboutUs__Item_decripsion_first h3 {
  font-size: 30px;
  color: #033ed8;
}
.TopAboutUs__Item_decripsion_second {
  text-align: justify;
}
.TopAboutUs__Item_decripsion_second span {
  font-size: 18px;
}
.BottomAboutUs__Item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
/*slide 3*/

.AboutUsSlide3__container {
  background-image: url("../images/anhnenaboutus.png");
  background-size: cover;
  // height: 1000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px;
}
.AboutusSlide3__topcontent {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.AboutusSlide3__topcontent h2 {
  font-size: 40px;
}
.AboutusSlide3__centercontent {
  margin-top: 30px;
}
// .centercontent__container{
//    display:grid;
//    grid-template-columns: 1fr 1fr 1fr;
//    grid-column-gap: 10px;
//     grid-row-gap: 10px;
// }
.centercontent__listitem1__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.centercontent__listitem2__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 30px;
}
.centercontent__listitem {
  /* width:20%; */
  /* padding:20px; */
  color: #fff;
}

.centerItem__img {
  display: flex;
  justify-content: center;
}
.centerItem__img img {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
}
.CenterItem_topdecription {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
}
.CenterItem_topdecription p {
  margin: 0;
}
.team-decription p {
  margin: 0;
}
// .CenterItem_bottomdecription{
//     margin-top: 5px;
// }
.team-decription,
.school-decription {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
